@charset "UTF-8";

/*
    paleta de cores
    verde: #49a09d
    lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login{
    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

#imagem{
    background-image: url(../imagens/padrao.jpg);
    background-color: #5f2c82;
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: block;
}

#formulario{
    padding: 10px;
    display: block;
}

#formulario >h1{
    text-align: center ;
    margin-bottom: 10px;
}

#formulario >p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    
}

div.campo > label{
    display: none;
    
}

.entrar{
    display: block;
    font-size: 1em;
    /*margin-top: 10px;*/
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.entrar:hover{
    background-color: #285a58cc;
    box-shadow: 0px 0px 5px black;
    
}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #49a09d;
    margin-top: 5px;
}
.botao:hover{
    text-decoration: underline;
    font-size: 1.1em;
    transition: .2s;
    border: 1px solid #49a09d;
    border-radius: 5px;
    margin-top: 5px;

}